@import url(./tokens/breakpoints.css);
@import url(./tokens/colors.css);
@import url(./tokens/fontSize.css);
@import url(./tokens/spacing.css);
@import url(./tokens/borderRadius.css);
@import url(./animations.css);
@import url(./font.css);
@import url(./tokens/shadows.css);
@import url(./normalice.css);

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
main::-webkit-scrollbar {
  width: 12px; /* Ancho del scroll vertical */
  height: 12px; /* Ancho del scroll horizontal */
}

main::-webkit-scrollbar-track {
  background: #f0f0f0; /* Fondo de la pista del scroll */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
color: var(--neutral-800);
min-height: 100dvh;
width: 100%;
background-color: var(--neutral-100);
}